<!DOCTYPE html>
<html>
  <body>
    <h1>Create a Superhero Team</h1>
    <form action="/teams" type="POST">
      <label for="team[name]">Team Name: </label>
      <input type="text" id="team[name]" name="team[name]">
      <label for="team[motto]">Team Motto: </label>
      <input type="text" id="team[motto]" name="team[motto]"><br>
      <h2>Superhero 1</h2>
      <label for="hero_1">Hero 1 Name: </label>
      <input type="text" id="hero_1" name="team[members][][name]">
      <label for="hero_1_power">Hero 1 Power: </label>
      <input type="text" id="hero_1_power" name="team[members][][power]">
      <label for="hero_1_bio">Hero 1 Bio: </label>
      <input type="text" id="hero_1_bio" name="team[members][][bio]">
      </form>
  </body>
</html>
