<!DOCTYPE html>
<html>
  <body>
    <h1>Create a Superhero Team</h1>
    <form action="/teams" type="POST">
      <label for="team[name]">Team Name: </label>
      <input type="text" id="team[name]" name="team[name]">
      <label for="team[motto]">Team Motto: </label>
      <input type="text" id="team[motto]" name="team[motto]"><br>
      <h2>Superhero 1</h2>
      <label for="hero_1">Hero 1 Name: </label>
      <input type="text" id="hero_1" name=""
    </form>
  </body>
</html>
