<!DOCTYPE html>
<html>
  <body>
    <h1>Team <%=@team_name%></h1>
    <h2>Team <%=@team_motto%></h2>
    <% @team_members.each do |hero| %>
      <h2>Hero name: <%=hero["name]%></h2>
  </body>
</html>


